
/* @import url('https://fonts.googleapis.com/css2?family=Ewert&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}


.container{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  margin-bottom: 50PX;
}

.the{
  font-size: 20px;
  writing-mode: vertical-lr;
  transition: all;
  transform: rotate(180deg);
  position: relative;
  top: 5px;
}

.siren{
  font-size: 45px;
  font-weight: bold;
}

.header{
  display: flex;
  flex-direction: row;
  gap: 120px;
  justify-content: center;
  position: relative;
  top: 30px;
  font-weight: 600;
}

.menubar{
  position: absolute;
  right: 0px;
  top: 10px;
  visibility: hidden;
}

.hr1{
  position: relative;
  top: 15px;
  color: gray;
  width: 1100px;
}

.img1{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.img2{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.imgtext1{
  position: absolute;
  top: 500px;
  left: 300px;
  font-size: 30px;
  color: black;
  text-align: start;
  font-family: 'Montserrat', sans-serif;
}

.imgpara{
  font-size: 15px;
}

.parent2{
  position: relative;
  transition: all;
  transition-duration: 0.3s;
  height: 222px;
}

.imgtext2{
  font-size: 25px;
  position: absolute;
  top: 130px;
  left: 15px;
  color: white;
  text-align: start;
}


.parent3{
  position: relative;
  transition: all;
  transition-duration: 0.3s;
  height: 222px;
}

.imgtext3{
  font-size: 20px;
  color: white;
  position: absolute;
  top: 130px;
  left: 15px;
  text-align: start;
}

.imgpara3{
  font-size: 12px;
}

img{
  border: 1px white solid;
  border-radius: 5px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.4s;
}

.latestcontents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.latestimage{
  height: 220px;
  width: 364px;
  border-radius: 5px;
  background-size: cover;
  position: relative;
}

.latesth3{
  position: absolute;
  top: 220px;
  left: 10px;
}

.latestpara{
  position: absolute;
  top: 260px;
  left: 10px;
  height: 40px;
  width: 300px;
  font-size: 12px;
  display: flex;
  text-align: justify;
}

.latestarticlescontents{
  position: relative;
  top:150px;
}

.laflex{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.latestarticlesimg{
  height: 150px;
  width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.latestarticlesflex{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  position: relative;
  top: -20px;
  left: 20px;
}

.laline{
  width: 720px;
}

.xyz{
  display: flex;
  flex-direction: row;
}

.lahead{
  font-size: 20px;
  width: 300px;
  height: 20px;
}

.lapara{
  height: 30px;
  width: 300px;
  font-size: 12px;
}

.laadvert{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.advert{
  height: 570px;
  width: 360px;
  border: 1px solid black;
  
}

.verticalimage{
  height: 400px;
  width: 736px;
  border-radius: 5px;
}

.toppostcontents{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  position: relative;
  top: 280px;
  gap: 5px;
}

.topposthead{
  position: relative;
  top: -350px;
}

.toppostimg{
  height: 200px;
  width: 360px;
}

.toposth2{
  font-size: 20px;
  height: 20px;
  width: 250px;
  text-align: justify;
}

.topostpara{
  height: 40px;
  width: 300px;
  font-size: 12px;
  text-align: justify;
}

.toppostflex{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.topostimage{
  height: 80px;
  width: 100px;
  background-size: cover;
}

.tpflex{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.num{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(180, 179, 179);
  opacity: 0.5;
}

.tphead{
  font-size: 12px;
  height: 20px;
  width: 150px;
  text-align: justify;
}

.tppara{
  height: 15px;
  width: 200px;
  font-size: 12px;
  text-align: justify;
}

.tpline{
  width: 360PX;
}

.lateststories{
  position: relative;
  top: 10px;
}

.lateststoriescontent{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-between;
}

.lshead{
  height: 20px;
  width: 320px;
  text-align: justify;
}

.lspara{
  height: 40px;
  width: 320px;
  font-size: 12px;
  text-align: justify;
  margin-top: 50px;
}

.lsline{
  height: 160px;
  margin-left: 30px;
  margin-right: 30px;
}

.lsline2{
  position: relative;
  top: 30px;
}

.containerBollywood{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bollywoodcontent{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bollywoodhead{
  position: relative;
  right: 200px;
}

.bollywoodimage{
  height: 180px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.bollywoodflex{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bhead{
  height: 20px;
  width: 250px;
  font-size: 15px;
  text-align: justify;
}

.bpara{
  height: 40px;
  width: 250px;
  font-size: 12px;
  text-align: justify;
  margin-top: 30px;
}

.bwtopposthead{
  position: relative;
  right: 120px;

}

.bollywoodtoposts{
  display: grid;
  grid-template-rows: auto;
}

.abimg{
  height: 250px;
  width: 400px;
}

.bwtphead{
  height: 20p;
  width: 300px;
  font-size: 20px;
  text-align: justify;
}

.bwtpara{
  height: 30px;
  width: 300px;
  font-size: 12px;
  text-align: justify;
}

.bw123{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 65px;
}

.one{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(180, 179, 179);
  opacity: 0.5;
}

.bwtpheadcontent{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.bwtpheadcontentimg{
  font-size: 15px;
  height: 100px;
  width: 150px;
  background-size: cover;
}

.bwtpheadcontenthead{
  font-size: 13px;
  height: 20px;
  width: 150px;
  text-align: justify;
}

.bwtpheadcontentpara{
  font-size: 10px;
  height: 30px;
  width: 150px;
  margin-top: 30px;
  text-align: justify;
}

.advertbw{
  height: 600px;
  width: 400px;
  border: black 1px solid;
  margin-top: 20px;
  font-size: 25px;
}


.heading1{
  height: 80px;
  width: 100%;
  margin: 0px;
  border-top: 0px;
  box-shadow: 0 6px 10px -5px;
}

.getstarted{
  height: 40px;
  width: 120px;
  border: 1px solid #03A87C;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}

.profilebox{
  width: 600px;
  height: 100px;
  position: absolute;
  left: calc((100vw - 600px)/2);
}

.nextpagecontents{
  width: 600px;
  text-align: justify;
  position: absolute;
  left: calc((100vw - 600px)/2);
  top: 260px;
}

.nextpageimg{
  height: 400px;
  width: 600px;
}

.tags{
  position: relative;
  top: 1280px;
  left: calc((100vw - 600px)/2);
  width: 600px;
  display: grid;
  grid-template-rows: auto;
  justify-content: left;
}

.tagstyle{
  height: 30px;
  width: 80px;
  background-color: rgb(231, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(173, 171, 171);
}

.tagstyle1{
  height: 30px;
  width: 120px;
  background-color: rgb(231, 229, 229);
  color: rgb(173, 171, 171);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagstyle2{
  height: 30px;
  width: 80px;
  background-color: rgb(231, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(173, 171, 171);
}

.morefromsiren{
  width: 100%;
  background-color: rgb(228, 225, 225);
  position: relative;
  top: 1350px;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: start;
  z-index: 1;
}

.morefromsirenflex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.clap{
  position: fixed;
  left: 60px;
  top: 120px;
  z-index: 2;
}

.share{
  margin-top: 20px;
  position: relative;
  left: 20px;
}

@media (max-width: 412px) {
  .container{
    margin-top: 50px;
    margin-bottom: 50PX;
    text-align: center;
  }
  .header{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .menubar{
    visibility: visible;
    position: absolute;
    right: 20px;
    top: 60px;
  }
  .siren{
    font-size: 35px;
  }
  .img1{
    position: absolute;
    left: calc((100vw - 412px)/2);
  }
  .parent{
    width: 412px;
  }
  .cheetah{
    width: 412px;
    height: 300px; 
    border: 0px;
  }
  .lion{
    height: 140px;
    width: 203px;
  }
  .rocks{
    height: 140px;
    width: 203px;
  }
  .img1{
    display: flex;
    flex-direction: column;
  }
  .hr1{
    display: none;
  }
  .img2{
    display: flex;
    flex-direction: row;
    gap:3px;
  }
  .imgtext2{
    position: absolute;
    top: 100px;
    font-size: 15px;
  }
  .imgtext3{
    position: absolute;
    top: 100px;
    font-size: 15px;
  }
  .imgtext1{
    position: absolute;
    top: 200px;
    width: 412px;
    left: 80px;
    font-size: 25px;
  }
  .imgpara{
    font-size: 12px;
  }
  .latest{
    position: relative;
    right: 300px;
  }

  .latestt{
    z-index: 100;
    position: relative;
    top: 470px;
  }

  .latestcontents{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 470px;
  }
  .latestimage{
    width: 400px;
    z-index: 5;
  }
  .latestpara{
    display: none;
  }
  .latesth3{
    color: white;
  }
  .latestmedia{
    position: absolute;
    top: -100px;
    left: 20px;
    z-index: 7;
  }
  .latestarticlescontents{
  top:500px;
  }
  .latestarticlesimg{
    height: 100px;
    width: 120px;
  }

  .lahead{
    font-size: 15px;
    width: 230px;
    height: 20px;
  }
  
  .lapara{
   font-size: 10px;
   width: 230px;
   position: relative;
   top: -20px;
  }
  .laline{
    width:400px;
  }
  .laadvert{
    grid-template-rows: auto;
  }
  .laflex{
    position: absolute;
    left: -120px;
  }
  .advert{
    width: 400px;
    position: absolute;
    top: 800px;
    left: -115px;
    height: 400px;
  }
  .toppostcontents{
    position: absolute;
    top:2950px;
    left: 0px;
    display: flex;
    flex-direction: column;
  }
  .verticalimage{
    width: 412px;
    height: 280px;
  }
  .topposthead{
    position: relative;
    top: 30px;
  }
  .toppostimg{
    width: 400px;
    height: 220px;
  }
  .topostmedia{
    position: relative;
    left: 20px;
  }
  .num{
    display: none;
  }
  .tpline{
    width: 400px;
  }
  .tphead{
    width: 260px;
  }
  .lateststories{
    position: relative;
    top: 2780px;
  }
  .lateststoriescontent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 4200px;
    left: 10px;
  }
  .lsline{
    width: 80vw;
    height: 1px;
  }
  .lshead{
    width: 380px;
  }
  .lspara{
    width: 380px;
    position: relative;
    top: -30px;
  }
  .bollywoodhead{
    position: relative;
    left: 0px;
  }
  .bollywoodimage{
    height: 100px;
    width: 150px;
    position: absolute;
    left: 5px;
  }
  .containerBollywood{
    flex-direction: column;
  }
  .bhead{
    font-size: 12px;
    width: 200px;
    position: relative;
    left: 60px;
  }
  .bpara{
    font-size: 10px;
    width: 200px;
    position: relative;
    left: 60px;
    top: -10px;
  }
  .Bollywoodtoposts{
    position: absolute;
    left: 5px;
    top: 1900px;
  }
  .advertbw{
    position: relative;
    top: -1350px;
    height: 420px;
  }
  .thesiren{
    position: relative;
    left: -30px;
    top: 10px;
  }
  .getstarted{
    position: relative;
    left: 35px;
    top: 15px;
  }
  .nph1{
    font-size: 20px;
  }
  .npdiv{
    position: relative;
    top: 20px;
  }
  .profilebox{
    width: 400px;
    left: calc((100vw - 400px)/2);
    top: 70px;
  }
  .icon{
    height: 25px;
    width: 25px;
  }
  .clap{
    display: none;
  }
  .nextpagecontents{
    position:absolute;
    top: 170px;
    left: 5px;
    right: 5px;
    width: 400px;
    font-size: 15px;
  }
  .nextpageimg{
    height: 300px;
    width: 402px;
  }
  .tags{
    position: absolute;
    left: 5px;
    top: 1300px;
  }
  .morefromsiren{
    position: absolute;
    top: 1550px;
    left: 0px;
  }
  .morefromsirenflex{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .mrstitle{
    position: absolute;
    left: 33px;
  }
  .npimage{
    width: 350px;
  }
  
}